@model TempleVolunteerClient.MyProfileViewModel

<div class="my-profile-form">
    <form id="myProfileId" name="myProfileForm" method="post" asp-controller="Account" asp-action="MyProfile" enctype="multipart/form-data">

        <input type="hidden" asp-for="@Model.PropertyId" />
        <input id="hiddenId" type="hidden" asp-for="@Model.StaffId" />
        <input type="hidden" asp-for="@Model.PrevStaffFileName" />
        <input type="hidden" asp-for="@Model.StaffByte" />
        <input type="hidden" asp-for="@Model.UpdatedBy" />
        <input type="hidden" asp-for="@Model.UpdatedDate" />
        <input type="hidden" asp-for="@Model.CreatedBy" />
        <input type="hidden" asp-for="@Model.CreatedDate" />

        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row" style="margin-bottom:10px">
            <div class="col-4">
                <label asp-for="FirstName"></label>
            </div>
            <div class="col-8">
                <input id="firstName" asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row" style="margin-bottom:10px">
            <div class="col-4">
                <label asp-for="MiddleName"></label>
            </div>
            <div class="col-8">
                <input id="middleName" asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row" style="margin-bottom:10px">
            <div class="col-4">
                <label asp-for="LastName"></label>
            </div>
            <div class="col-8">
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row" style="margin-bottom:10px">
            <div class="col-4">
                <label asp-for="RoleName"></label>
            </div>
            <div class="col-8">
                <input asp-for="RoleName" class="form-control" readonly/>
            </div>
        </div>
        <div class="form-group row" style="margin-bottom:10px">
            <div class="col-4">
                <label asp-for="Address"></label>
            </div>
            <div class="col-8">
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row" style="margin-bottom:10px">
            <div class="col-4">
                <label asp-for="Address2"></label>
            </div>
            <div class="col-8">
                <input asp-for="Address2" class="form-control" />
                <span asp-validation-for="Address2" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row" style="margin-bottom:10px">
            <div class="col-4">
                <label asp-for="City"></label>
            </div>
            <div class="col-8">
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
        </div>
        <div id="stateId" class="form-group row" style="margin-bottom:10px">
            <div class="col-4">
                <label asp-for="State"></label>
            </div>
            <div class="col-8">
                <select asp-for="State" asp-items="Model.States" class="form-control"></select>
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row" style="margin-bottom:10px">
            <div class="col-4">
                <label asp-for="PostalCode"></label>
            </div>
            <div class="col-8">
                <input asp-for="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row" style="margin-bottom:10px">
            <div class="col-4">
                <label asp-for="Country"></label>
            </div>
            <div class="col-8">
                <select id="countryId" asp-for="Country" asp-items="Model.Countries" class="form-control"></select>
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row" style="margin-bottom:10px">
            <div class="col-4">
                <label asp-for="EmailAddress"></label>
            </div>
            <div class="col-8">
                <input asp-for="EmailAddress" class="form-control" readonly />
            </div>
        </div>
        <div class="form-group row" style="margin-bottom:10px">
            <div class="col-4">
                <label asp-for="PhoneNumber"></label>
            </div>
            <div class="col-8">
                <input id="phoneNumber" asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row" style="margin-bottom:10px">
            <div class="col-4">
                <label asp-for="Gender"></label>
            </div>
            <div class="col-8">
                <select asp-for="Gender" asp-items="Model.GenderList" class="form-control" readonly></select>
            </div>
        </div>
        <div class="form-group row" style="margin-bottom:10px;">
            <div class="col-4 text-right">
                <label asp-for="Credentials"></label>
            </div>
            <div class="col-8">
                @Html.ListBoxFor(m => m.CredentialIds, Model.Credentials, new { @class="listbox", style= "width:300px" })
            </div>
        </div>
        <div class="form-group row" style="margin-bottom:10px">
            <div class="col-4">
                <div>
                    <input id="imageId" type="file" name="staffImage" asp-for="StaffImage" accept="image/x-png,image/gif,image/jpeg,image/jpg" />
                </div>
            </div>
            <div class="col-8">
                <div>
                    <input id="fileNameId" asp-for="StaffFileName" class="form-control" value="@Model.StaffFileName" readonly />
                </div>
            </div>
        </div>
        <div class="form-group row" style="margin-bottom:10px">
            <div class="col-4">
                <img src="data:image/png;base64,@Html.DisplayFor(model => model.StaffByteString)" height="175" width="225"> <br/>
                @if ((Model.Gender == "Female" && Model.StaffFileName != "Female.png") || (Model.Gender == "Male" && Model.StaffFileName != "Male.png"))
                {
                    @Html.CheckBoxFor(model=>model.RemovePhoto) @:Remove Photo
                }
            </div>
        </div>
        <div class="form-group row" style="margin-bottom:10px">
            <div class="col-3 offset-4">
                <button type="submit" class="btn btn-primary form-control">
                    Update
                </button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {

            $('.listbox').multiselect();

            if ($("#countryId").val() !== "US") {
                $("#stateId").hide();
            } else {
                $("#stateId").show();
            };

            $("#countryId").change(function () {
                var country = this.value;
                if (country !== "US") {
                    $("#stateId").hide();
                } else {
                    $("#stateId").show();
                }
            });

            $('#phoneNumber').keyup(function (e) {
                var ph = this.value.replace(/\D/g, '').substring(0, 10);
                var deleteKey = (e.keyCode == 8 || e.keyCode == 46);
                var len = ph.length;
                if (len == 0) {
                    ph = ph;
                } else if (len < 3) {
                    ph = '(' + ph;
                } else if (len == 3) {
                    ph = '(' + ph + (deleteKey ? '' : ') ');
                } else if (len < 6) {
                    ph = '(' + ph.substring(0, 3) + ') ' + ph.substring(3, 6);
                } else if (len == 6) {
                    ph = '(' + ph.substring(0, 3) + ') ' + ph.substring(3, 6) + (deleteKey ? '' : '-');
                } else {
                    ph = '(' + ph.substring(0, 3) + ') ' + ph.substring(3, 6) + '-' + ph.substring(6, 10);
                }
                this.value = ph;
            });

            $('#imageId').change(function () {
                var filename = $('input[type=file]').val().split('\\').pop();
                var lastIndex = filename.lastIndexOf("\\");
                $('#fileNameId').val(filename);
            });
        });
    </script>
}

