@using TempleVolunteerClient
@model SupplyItemViewModel

<br />
<h2 class="text-info">@(Model.SupplyItemId != 0 ? "Edit" : "Create") SupplyItem</h2>
<br />

<div class="border container" style="padding:30px;">
    @using (@Html.BeginForm("Upsert", "SupplyItem", FormMethod.Post, new { id = "supplyItemForm", enctype = "multipart/form-data" }))
    {
        <input type="hidden" asp-for="@Model.PropertyId" />
        <input id="hiddenId" type="hidden" asp-for="@Model.SupplyItemId" />
        <input type="hidden" asp-for="@Model.SupplyItemFileName" />
        <input type="hidden" asp-for="@Model.SupplyItemImage" />
        <input type="hidden" asp-for="@Model.UpdatedBy" />
        <input type="hidden" asp-for="@Model.UpdatedDate" />
        <input type="hidden" asp-for="@Model.CreatedBy" />
        <input type="hidden" asp-for="@Model.CreatedDate" />

        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row" style="margin-bottom:10px; text-align:right">
            <div class="col-3 text-right">
                <label asp-for="Name" style="color:blue" class="font-weight-bold"></label>
            </div>
            <div class="col-6">
                <input id="nameId" idVal="@Model.SupplyItemId" asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row" style="margin-bottom:10px; text-align:right">
            <div class="col-3 text-right">
                <label asp-for="Description" style="color:blue" class="font-weight-bold"></label>
            </div>
            <div class="col-6">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row" style="margin-bottom:10px; text-align:right">
            <div class="col-3 text-right">
                <label asp-for="Note" style="color:blue" class="font-weight-bold"></label>
            </div>
            <div class="col-6">
                <input asp-for="Note" class="form-control" />
            </div>
        </div>
        <div class="form-group row" style="margin-bottom:10px; text-align:right">
            <div class="col-3 text-right">
                <label asp-for="SupplyItemFileName" style="color:blue" class="font-weight-bold"></label>
            </div>
            <div class="col-6">
                <input id="fileNameId" asp-for="SupplyItemFileName" class="form-control" value="@Model.SupplyItemFileName" readonly />
            </div>
        </div>
        @if (Model.SupplyItemFileName != null)
        {
            <div class="form-group row" style="margin-bottom:10px; text-align:right">
                <div class="col-6 text-right">
                    <input id="imageFileId" asp-for="SupplyItemImage" accept="application/pdf">
                    <span asp-validation-for="SupplyItemImage" class="text-danger"></span>
                </div>
            </div>
        }
        else
        {
            <div class="form-group row" style="margin-bottom:10px; text-align:right">
                <div class="col-6 text-right">
                    <input id="imageFileId" asp-for="SupplyItemImage" accept="application/pdf" required />
                    <span asp-validation-for="SupplyItemImage" class="text-danger"></span>
                </div>
            </div>
        }
        <div class="form-group row" style="margin-bottom:10px; text-align:right">
            <div class="col-3 text-right">
                <label style="color:blue" class="font-weight-bold">Is Active</label>
            </div>
            <div class="col-1">
                <input asp-for="IsActive" class="form-check" />
            </div>
        </div>
        <div class="form-group row" style="margin-bottom:10px; text-align:right">
            <div class="col-3 text-right">
                <label style="color:blue" class="font-weight-bold">Is Hidden</label>
            </div>
            <div class="col-1">
                <input asp-for="IsHidden" class="form-check" />
            </div>
        </div>
        <br />
        <div class="form-group row">
            <div class="col-3 offset-3">
                <button id="buttonId" type="submit" class="btn btn-primary form-control">
                    @(Model.SupplyItemId != 0 ? "Update" : "Create")
                </button>
            </div>
            <div class="col-3">
                <a asp-action="Index" asp-controller="SupplyItem" class="btn btn-primary form-control">Retrun</a>
            </div>
        </div>
    }
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(supplyItem).ready(function () {
            $("#nameId").focus();

            $('#imageFileId').change(function () {
                var filename = $('input[type=file]').val().split('\\').pop();
                var lastIndex = filename.lastIndexOf("\\");
                $('#fileNameId').val(filename);
            });

            $("#supplyItemForm").on("submit", function (e) {
                e.preventDefault();
                $.ajax({
                    url: '/SupplyItem/SupplyItemGet/',
                    type: 'GET',
                    dataType: "json",
                    success: validateData,
                    error: function (result) {
                        alert('error');
                    }
                });

                function validateData(data) {
                    let exists = false;
                    $.each(data.data, function (i, item) {
                        exists = ($("#nameId").val().toLowerCase().trim() == item.name.toLowerCase().trim() && (parseInt(item.supplyItemId) != parseInt($("#hiddenId").val())));

                        if (exists) {
                            return false;
                        }
                    });

                    if (exists) {
                        swal("This supplyItem already exists!", "");
                    }
                    else {
                        $("#supplyItemForm").unbind("submit").submit();
                    }
                };
            });
        });
    </script>
}
